<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="/vendor/makerstrap.complete.min.css">
<title>Placedkitten</title>
<div class="container">
  <h1>Placedkitten</h1>
  <p>This is a <a href="https://webmaker.org/literacy">Web Literacy</a>
    tool that makes it easier to understand how servers and the
    HTTP protocol work.</p>
  <p>This tool works by giving you URLs of images of kittens. You
    can then embed these URLs in web pages, give them to social
    networking websites, and share them with friends. This tool
    will then provide you with real-time information every time
    a device accesses your image. You can use this information to learn more
    about how the internet works.</p>
  <a href="{{ randomPath }}" class="btn btn-primary">Get Started</a>
</div>
