<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="/vendor/makerstrap.complete.min.css">
<style>
#log .error {
  color: red;
}

.request {
  border: 1px solid #CCC;
  margin: 0 0 10px;
}

.request .request-desc {
  padding: 5px;
}

.request .request-log {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #F5F5F5;
  padding: 5px;
}
</style>
<title>Placedkitten at {{ path }}</title>
<div class="container">
  <h1>Log for <code>{{ path }}</code></h1>
  <div class="media">
    <a class="pull-left" href="{{ path }}">
      <img src="{{ path }}">
    </a>
    <div class="media-body">
      <p>When a client accesses the image at
      <a href="{{ path }}"><span class="origin"></span>{{ path }}</a>,
      information about the request will be logged here.</p>
      <p>The image is courtesy of
        <a href="http://placekitten.com">placekitten.com</a>.
        IP-based geolocation is courtesy of 
        <a href="http://freegeoip.net">freegeoip.net</a>.
      </p>
    </div>
  </div>
  <br>
  <div id="log"></div>
</div>
<script src="/vendor/jquery.js"></script>
<script>
var origin = window.location.protocol + '//' + window.location.host;
var wsProtocol = window.location.protocol == 'http:' ? 'ws:' : 'wss:';
var socket = new WebSocket(wsProtocol + '//' + window.location.host +
                           '{{ channelName }}');
var geolocationCache = {};

function log(msg, className) {
  if (typeof(msg) == 'string')
    msg = $('<p></p>').text(msg);
  if (className) msg.addClass(className);
  msg.appendTo('#log').hide().fadeIn();
}

function geolocate(ip, cb) {
  if (ip in geolocationCache) return cb(geolocationCache[ip]);
  $.getJSON('//freegeoip.net/json/' + ip, function(data) {
    if (data.country_name != 'Reserved') {
      var nameParts = [data.country_name];
      if (data.region_name) nameParts.unshift(data.region_name);
      if (data.city) nameParts.unshift(data.city);
      data.full_name = nameParts.join(', ');
    }
    geolocationCache[ip] = data;
    cb(data);
  });
}

function capitalizeHeader(header) {
  return header.split('-').map(function(name) {
    return name.slice(0, 1).toUpperCase() + name.slice(1);
  }).join('-');
}

function logRequest(req) {
  var rdiv = $('<div class="request"></div>');
  var rdesc = $('<div class="request-desc"></div>').appendTo(rdiv);
  var rlog = $('<div class="request-log"></div>').appendTo(rdiv);

  var lines = [req.method + ' ' + req.url + ' HTTP/' + req.httpVersion];

  [].push.apply(lines, Object.keys(req.headers).map(function(name) {
    return capitalizeHeader(name) + ': ' + req.headers[name];
  }));
  rlog.text(lines.join('\n'));
  rdesc.text("Incoming request from " + req.remoteAddress);

  log(rdiv);

  geolocate(req.remoteAddress, function(info) {
    if (!info.full_name) return;
    rdesc.append([
      document.createTextNode(' '),
      $('<span class="text-muted"></span>').text('(' + info.full_name + ')')
    ]);
  });
}

socket.onclose = function(event) {
  // This short delay ensures this message doesn't erroneously get
  // displayed b/c the page is about to unload/reload.
  setTimeout(function() {
    log('WebSocket closed. Please reload the page to reopen it.', 'error');
  }, 100);
};

socket.onopen = function(event) {
  log('WebSocket to log stream opened.');
};

socket.onmessage = function(event) {
  if (event.data == 'keepalive') {
    if (typeof(console) != 'undefined') console.log('keepalive received');
    return;
  }
  logRequest(JSON.parse(event.data));
};

$('span.origin').text(origin);
</script>
