<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="/vendor/makerstrap.complete.min.css">
<style>
pre.error {
  color: red;
}
</style>
<title>Placedkitten at {{ path }}</title>
<div class="container">
  <h1>Log for <code>{{ path }}</code></h1>
  <div class="media">
    <a class="pull-left" href="{{ path }}">
      <img src="{{ path }}">
    </a>
    <div class="media-body">
      When a client accesses the placekitten at
      <a href="{{ path }}"><span class="origin"></span>{{ path }}</a>,
      information about the request will be logged here.
    </div>
  </div>
  <br>
  <div id="log"></div>
</div>
<script src="/vendor/jquery.js"></script>
<script>
var origin = window.location.protocol + '//' + window.location.host;
var socket = new WebSocket('ws://' + window.location.host + '{{ path }}');

function log(className, msg) {
  $('<pre></pre>').addClass(className).text(msg).appendTo('#log');
}

function logRequest(req) {
  var lines = [req.method + ' ' + req.url + ' HTTP/' + req.httpVersion];
  [].push.apply(lines, Object.keys(req.headers).map(function(name) {
    return name + ': ' + req.headers[name];
  }));
  log('info', lines.join('\n'));
}

socket.onclose = function(event) {
  // This short delay ensures this message doesn't erroneously get
  // displayed b/c the page is about to unload/reload.
  setTimeout(function() {
    log('error', 'WebSocket closed. Please reload the page to reopen it.');
  }, 100);
};

socket.onopen = function(event) {
  log('info', 'WebSocket to log stream opened.');
};

socket.onmessage = function(event) {
  if (event.data == 'keepalive') {
    if (typeof(console) != 'undefined') console.log('keepalive received');
    return;
  }
  logRequest(JSON.parse(event.data));
};

$('span.origin').text(origin);
</script>
