<!DOCTYPE html>
<meta charset="utf-8">
<style>
pre {
  border-top: 1px dotted gray;
  padding-top: 4px;
}

pre.error {
  color: red;
}
</style>
<title>Placedkitten</title>
<h1>Log for <code>{{ path }}</code></h1>
<p>
  When a client accesses the placekitten at
  <a href="{{ path }}">{{ path }}</a>, information about the request
  will be logged here.
</p>
<div id="log"></div>
<script>
var socket = new WebSocket('ws://' + window.location.host + '{{ path }}');

function log(className, msg) {
  var pre = document.createElement('pre');
  var log = document.getElementById('log');
  pre.setAttribute('class', className);
  pre.appendChild(document.createTextNode(msg));
  log.appendChild(pre);
}

function logRequest(req) {
  var lines = [req.method + ' ' + req.url + ' HTTP/' + req.httpVersion];
  [].push.apply(lines, Object.keys(req.headers).map(function(name) {
    return name + ': ' + req.headers[name];
  }));
  log('info', lines.join('\n'));
}

socket.onclose = function(event) {
  // This short delay ensures this message doesn't erroneously get
  // displayed b/c the page is about to unload/reload.
  setTimeout(function() {
    log('error', 'WebSocket closed. Please reload the page to reopen it.');
  }, 100);
};

socket.onopen = function(event) {
  log('info', 'WebSocket to log stream opened.');
};

socket.onmessage = function(event) {
  if (event.data == 'keepalive') {
    if (typeof(console) != 'undefined') console.log('keepalive received');
    return;
  }
  logRequest(JSON.parse(event.data));
};
</script>
